.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#image {
	/*max-width: 800px;*/
	position: relative;
	width: 100%;
	/*padding: 50px 50px 50px 50px;*/
}

#intro {
	font-family: "Libre-Baskerville", serif;
	font-size: 30px;
	font-kerning: 1.5px;
	line-height: 1em;
	/*float: left;*/
	width: 65%;
	margin: auto;
}

#title  {
	font-family: "Libre-Baskerville", serif;
	text-align: center; 
	font-size: 100px;
	margin: 0 auto;
}


/*.top {*/
	height: 3px;
	border: none;
	width: 30em;
	margin: 1em auto;
	background-color: #3C3C3C;

}

/*.bottom {*/
	height: 2px;
	border: none;
	width: 30em;
	margin: 1em auto;
	background-color: #3C3C3C;
}

/*body {*/
	border-top: 10px solid #16242f;
}

header {
    /*background-color: #FFED74;*/
    /*border: 1px black solid;*/
    padding: 1.2em;
}


/*h1 {*/
	position: absolute;
	width: 100%;
	top: 50px; 
	color: #3C3C3C;
	font-size: 40px; 
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;

}

#large {
	align: left;
}

#intro {
    /*background-color: #FFC675;*/
    /*border: 1px black solid;*/
    padding: 1em;
    float: none;
    width: 60%;
	/*display: inline-block;*/
    
}

#intro p {
	font-family: "Libre-Baskerville", serif;
	font-weight: 200;
    font-size: .825em;
}

#services {
	width: 60%;
	margin: auto;
}

#left {
	float: left;
	font-family: "Libre-Baskerville", serif;
	font-size: 1em;
	padding: 1em;
	margin: 1em;
	/*width: 25%;*/

}

#right {
	float: right;
	font-family: "Libre-Baskerville", serif;
	font-size: 1em;
	padding: 1em;
	margin: 1em;
	/*width: 25%;*/
}


.h6 {
	font-weight: 800;
	font-family: "Open-Sans", sans-serif; 
	font-size: 1.5em;
	padding-bottom: .825em;
	/*color: #a2865e;*/
	color: #997F1C;
	letter-spacing: .25em;
	text-align: left;
}

nav {
	/*background-color: #000000;*/
	font-color; #222222;
	color: #a2865e;
	/*background-color: #E8C66A;*/
	/*color: gray;*/
	color: #474747;
	font-weight: 600;
	font-size: 16px;
	font-family: "Libre-Baskerville", serif;
	letter-spacing: 2px;
	padding: 10px;
	margin: auto;	
}

body {
  text-align: center;
  /*background: url("images/site-background-hero-1920x800.jpg");*/
  /*background-size: cover;*/
  /*background-position: 20px 10px; */
  /*color: #222222;*/
  /*font-family: "Libre-Baskerville", serif;*/
  font-size: 16px;
  /*background-color: transparent;*/
  border-top: 10px solid #16242f;
  border-bottom: 10px solid #16242f;
}


nav a {
	padding: 20px;
	margin: 40px;
}

hr { 
	height: 1px;
	border: none;
	width: auto;
	margin: 1em auto;
	background-color: #ccc;
	/*background-color: #474747;*/
	color: #474747;
	display: block;
	clear: both;
}

a {
	padding: 10px;
	color: inherit;
	text-decoration: none;
}

a:hover {
	/*color: #a2865e;*/
	color: #997F1C;
}

h2 {
	font-family: "Open-Sans", sans-serif;
	font-weight: 200;
	/*color: #474747;*/
	/*color: #a2865e;*/
	/*color: #756144;*/
	color: #997F1C;
	font-size: 2em;
	letter-spacing: .025em;
}

h3 {
	font-weight: 800;
	font-family: "Open-Sans", sans-serif; 
	font-size: 1.5em;
	padding-bottom: .825em;
	color: #a2865e;
}

.hire {
	font-family: "Libre-Baskerville", serif;
	color: #474747;
	text-transform: uppercase;
	font-size: 3em;
}

h5 {
	font-family: "Open-Sans", sans-serif;
	color: #a2865e;
	font-size: 1.5em;
	text-transform: uppercase;
	/*background-color: #474747;*/
}

/*#button {*/
	font-family: "Open-Sans", sans-serif;
	color: #474747;
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #474747;
}


p {
  font-size: .6em;
  font-family: "Libre-Baskerville", serif;
  color: #474747;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

li {
	/*font-family: "Libre-Baskerville", serif;*/
	font-family: "Libre-Baskerville", serif;
	line-height: 1.5em;
	font-weight: 200;
	font-size: 1em;
	/*letter-spacing: .25em;*/
	text-align: left;
}


#work {
	/*float: left;*/
	padding: 2em;
	
}

/*#work h3 {*/
	color: #474747;
	font-family: "Open-Sans", sans-serif;
	font-size: 1.5em;
	padding: 1em;
}

#contact {
	padding: 1em;
	/*background-color: gray;*/
	/*float:right;*/
	padding: 20px;
	/*width: 50%;*/
	clear:both;
}

#contact h3 {
	color: #474747;
	font-family: "Open-Sans", sans-serif;
	/*color: #474747;*/
	/*font-family: "Libre-Baskerville", serif;*/
	font-size: 1.5em;
	padding: 1em;
}

div {
    /*background-color: #FFE2B8;*/
    /*border: 1px black solid;*/
    padding: 20px;
}

#email {
	font-size: 1em;
	padding: 20px;
	font-family: "Libre-Baskerville", serif;
	letter-spacing: .02em;
}

footer {
	background-color: #e6e6e6;
	/*background-color: #FF957E;*/
	/*border: 1px black solid;*/
    /*background-color: transparent;*/
    padding: 20px;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
	clear: both;
}

footer p {
	margin: auto;
	padding: 20px;
	/*color: #474747;*/
	/*color: #a2865e;*/
	color: #997F1C;
	font-size: 12px;
	font-family: "Open-Sans", sans-serif;
}

.icon {
	height: 60px
	}

/*footer a:hover {*/
	color: #997F1C;
}


#wrapper {
	/*width: 1080px;*/
	padding-right: 30px;
	padding-left: 30px;
	margin: 0 auto;
}

@media only screen and (min-width: 1800px) {
	body {
		font-size: 24px;
	}
	#wrapper {
		width: 1600px;
	}
}

@media only screen and (max-width: 1130px) {
	footer p {
		float: none;
	}
	footer {
		text-align: center;
	}
}

@media only screen and (max-width: 950px) {
	nav {
		font-size: 16px;
		margin: 10px;
		padding: 10px;
	}

	nav a {
		padding: 10px;
		margin: 10px;
	}
}

@media only screen and (max-width: 900px) {
	body {
		font-size: 1em;
	}

	p {
		font-size: 1em;
	}

	#intro {
		font-size: 25px;
	}

	.h6 {
		font-size: 20px;
	}

	main {
		width: 55%;
	}

	aside {	
		width: 40%;
	}
}

@media only screen and (max-width: 800px) {
	#wrapper {
		/*padding: 10px;*/
	}

	nav {
		font-size: 16px;
		margin: 10px;
		padding: 10px;
	}

	nav a {
		padding: 10px;
		margin: 10px;
	}

	#title {
		font-size: 75px;

	}

	#sub {
		font-size: 1.5em;

	}

	body {
		font-size: 16px;
	}

	div {
		width: auto;
		float: none;
	}


	#right {
		float: none;
		/*width: 50%;*/
	
	}

	#left {
		float: none;
		/*width: 50%;*/
	
	}
	
}
@media only screen and (max-width: 660px) {
	
	nav a {
		float: none;
		width: auto;
		padding: .25em 0;
		display: none;
	}

	nav:hover a {
		display: block;
	}
	
	header {
		padding: 0;
		padding-bottom: 1em;
	}

	#wrapper {
		width: auto;
		padding: 1em;
	}

	#intro {
		font-size: 20px;
		line-height: 1em;
		width: 75%;
	}

	#right {
		float: none;
		width: 75%;
	}
	
	#left {
		float: none;
		width: 75%;
	}

	img {
		max-width: 250px;
	}

	#email {
		line-height: 1em;
		padding: 10px;
	}

	footer p {
		line-height: 1em;
	}

@media only screen and (max-width: 380px) {
	.icon {
		height: 40px;
	}
	
}